.container {
  margin: 8px;
}

.button {
  width     : 100px;
  text-align: center;
  padding   : 4px;
  cursor    : pointer;

  &:hover {
    color: yellow
  }
}

.hint {
  color    : gray;
  font-size: 12px;
}